<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Onwords IoT Company - Client Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- bootstarp links -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- bootstarp links -->
</head>

<body>
    <nav class="navbar navbar-expand-lg top-sticky">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="" class="img-fluid logo"></a>
            <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
                    <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if role != 'PR' %}
                    <li class="nav-item"><a class="nav-link" href="/create_staff">Create Staff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create_client">Create Client</a></li>
                    <li class="nav-item"><a class="nav-link  active" href="/client/profile">Client Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/my_schedule">My Schedule</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pod">Pod</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/client/profile">Client Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/my_schedule">My Schedule</a></li>
                    {% endif %}
                </ul>
                <span><img src="../static/images/user-icon.png" alt="" class="img-fluid user-icon"
                        onclick='user()'></span>
                <span class="navbar-text welcome-text"><span class="user-name-text">{{ username }} </span><br> <span
                        class="user-name-text">{{ role }}</span> <br> Pod: {{ pod }}</span>
                <a class="logout-button" href="/logout"><img src="../static/images/logout-img.svg" alt="logout"
                        class="img-fluid"></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div>
            <div>
                <form action="/client/profile" method="post" class="search-form">
                    <button type="submit" value="Search" class="search-icon"><img src="../static/images/search-icon.svg"
                            alt="" class="img-fluid"></button>
                    <input type="text" name="client_number" placeholder="Client number">

                </form>
                {% if error %}
                <p style="color: red;">{{error}}</p>
                {% endif %}
            </div>
            {% if client %}
            <div class="status-row">
                <form action="/client/profile/{{client.phone}}/hot" method="post" class="select-main">
                    <input type="hidden" name="client_number" value="{{ client_number }}">
                    <select name="status" onchange="updateFormAction(this)">
                        <option value="new">New</option>
                        <option value="interested">Interested</option>
                        <option value="hot">Hot</option>
                        <option value="rejected">Rejected</option>
                        <option value="installed">Installed</option>
                        <option value="advanced">Advanced</option>
                    </select>
                </form>

                <form action="/client/notes" method="post" class="notes-form">
                    <textarea name="notes" placeholder="Add notes..." rows="5"></textarea>
                    <input type="hidden" name="client_number" value="{{ client.phone }}">
                    <input type="hidden" name="pod" value="{{ pod }}">
                    <input type="hidden" name="role" value="{{ role }}">
                    <input type="hidden" name="username" value="{{ username }}">
                    <p class="mx-2 btns" type="submit" value="Add Note">Submit</p>
                </form>
                <form action="/client/schedule" method="post" class="notes-form1">
                    <label for="schedule_type" class="">Schedule:</label>
                    <select name="schedule_type" class="mb-1">
                        <option value="call">Call</option>
                        <option value="visit">Visit</option>
                        <option value="installation">Installation</option>
                    </select><br>
                    <input type="datetime-local" name="schedule_time" required>
                    <input type="hidden" name="client_number" value="{{ client.phone }}">
                    <input type="hidden" name="pod" value="{{ pod }}">
                    <input type="hidden" name="role" value="{{ role }}">
                    <input type="hidden" name="username" value="{{ username }}">
                    <center><p type="submit" class="btns mt-1" value="Schedule">Schedule</p></center>
                </form>
            </div>
            {% endif %}
        </div>
        <div>
            <div class="client-details">
                {% if client %}

                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>
                            {{ client.phone }}
                        </td>
                    </tr>
                    <tr>
                        <th>Pod ID:</th>
                        <td>{{ client.pod_id }}</td>
                    </tr>
                    <tr>
                        <th>Rating:</th>
                        <td>{{ client.rating }}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{ client.address.door_no }}, {{ client.address.street }}, {{ client.address.landmark }}, {{
                            client.address.city }}, {{ client.address.state }}, {{ client.address.pincode }}</td>
                    </tr>
                    <tr>
                        <th>Enquiry:</th>
                        <td> Created by: {{ client.enquiry.created_by }}, Enquired for: {{ client.enquiry.enquired_for
                            }}, Lead source: {{ client.enquiry.lead_source }}</td>
                    </tr>
                </table>
                {% for note in notes %}
                <table class="table">
                    <tr>
                        <th>Date:</th>
                        <td>{{ note.date }}</td>
                    </tr>
                    <tr>
                        <th>Time:</th>
                        <td>{{ note.time }}</td>
                    </tr>
                    <tr>
                        <th>User ID:</th>
                        <td>{{ note.pr_name }}</td>
                    </tr>
                    <tr>
                        <th>Note:</th>
                        <td>{{ note.notes }}</td>
                    </tr>
                </table>
                <hr>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    {% if client %}
    <script>
        function updateFormAction(selectElement) {
            const selectedValue = selectElement.value;
            const clientPhone = '{{ client.phone }}';
            const form = selectElement.closest('form');
            form.action = `/client/profile/${clientPhone}/${selectedValue}`;
            form.submit();
        }
    </script>
    {% endif %}
    <!-- script start -->
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- script end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>