<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Create Staff</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- bootstarp links -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- bootstarp links -->

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="" class="img-fluid logo"></a>
            <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><span class="text-white onnav"><i class="fa-solid fa-bars"></i></span>
              <span class="off text-white"><i class="fa-solid fa-x"></i></span><span>
          </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if role != 'PR' %}
                    <li class="nav-item active"><a class="nav-link" href="/create_staff">Create Staff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create_client">Create Client</a></li>
                    <li class="nav-item"><a class="nav-link" href="/client/profile">Client Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/my_schedule">My Schedule</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pod">Pod</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/client/profile">Client Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/my_schedule">My Schedule</a></li>
                    {% endif %}
                </ul>
                <span><img src="../static/images/user-icon.png" alt="" class="img-fluid user-icon"
                        onclick='user()'></span>
                <span class="navbar-text welcome-text"><span class="user-name-text">{{ username }} </span><br> <span
                        class="user-name-text">{{ role }}</span> <br>{{ pod }}</span>
                <a class="logout-button" href="/logout"><img src="../static/images/logout-img.svg" alt="logout"
                        class="img-fluid"></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="/create_staff" method="post" class="p-3">
            <div class="create-staff-form-con">
              <center>  <h3>Create Staff</h3></center>
                <div class="create-staff-personal">
                    <div class="form-grp">
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" required>
                    </div>

                    <div class="form-grp">
                        <label for="phone">Phone:</label><br>
                        <input type="text" id="phone" name="phone" required>
                    </div>

                    <div class="form-grp">
                        <label for="email">Email:</label><br>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div class="form-grp">
                        <label for="department">Department:</label><br>
                        <input type="text" id="department" name="department" required>
                    </div>

                    <div class="form-grp">
                        <label for="dob">Date of Birth:</label><br>
                        <input type="date" id="dob" name="dob" required>
                    </div>

                    <div class="form-grp">
                        <label for="blood_group">Blood Group:</label><br>
                        <input type="text" id="blood_group" name="blood_group" required>
                    </div>

                    <div class="form-grp">
                        <label for="profile_pic_url">Profile Picture URL:</label><br>
                        <input type="text" id="profile_pic_url" name="profile_pic_url">
                    </div>

                    <div class="form-grp">
                        <label for="address">Address:</label><br>
                        <input type="text" id="address" name="address" required>
                    </div>
                    <div class="bottom-btns">
                        <div class="prev-btn "></div>
                        <div class="next-btn btns" onclick="familyForm()">Next</div>
                    </div>
                </div>
            </div>
            <div class="family-form-con">
                <center><h3>Family Details</h3></center>
                <div class="family-form">
                    <div class="form-grp">
                        <label for="father_name">Father's Name:</label>
                        <input type="text" id="father_name" name="family_father_name" required>
                    </div>

                    <div class="form-grp">
                        <label for="mother_name">Mother's Name:</label>
                        <input type="text" id="mother_name" name="family_mother_name" required>
                    </div>

                    <div class="form-grp">
                        <label for="spouse_name">Spouse's Name:</label>
                        <input type="text" id="spouse_name" name="family_spouse_name">
                    </div>

                    <div class="form-grp">
                        <label for="sibling_name">Sibling's Name:</label>
                        <input type="text" id="sibling_name" name="family_sibling_name">
                    </div>

                    <div class="form-grp">
                        <label for="child_name">Child's Name:</label>
                        <input type="text" id="child_name" name="family_child_name">
                    </div>

                    <div class="form-grp">
                        <label for="designation">Designation:</label>
                        <input type="text" id="designation" name="designation" required>
                    </div>

                    <div class="form-grp">
                        <label for="emp_id">Employee ID:</label>
                        <input type="text" id="emp_id" name="emp_id" required>
                    </div>
                    <div class="bottom-btns">
                        <div class="prev-btn btns" onclick="personalback()">Prev</div>
                        <div class="next-btn btns" onclick="bankForm()">Next</div>
                    </div>
                </div>
            </div>

            <div class="bankform-con">
                <center><h3>Bank data</h3></center>
                <div class="bank-form">

                    <div class="form-grp">
                        <label for="acc_no">Account Number:</label>
                        <input type="text" id="acc_no" name="bank_data_acc_no" required>
                    </div>

                    <div class="form-grp">
                        <label for="acc_holder_name">Account Holder Name:</label>
                        <input type="text" id="acc_holder_name" name="bank_data_acc_holder_name" required>
                    </div>
                    <div class="form-grp">
                        <label for="branch">Branch:</label>
                        <input type="text" id="branch" name="bank_data_branch" required>
                    </div>

                    <div class="form-grp">
                        <label for="ifsc_code">IFSC Code:</label>
                        <input type="text" id="ifsc_code" name="bank_data_ifsc_code" required>
                    </div>

                    <div class="form-grp">
                        <label for="acc_type">Account Type:</label>
                        <input type="text" id="acc_type" name="bank_data_acc_type" required>
                    </div>
                    <div class="form-grp">
                        <label for="mode_of_transport">Mode of Transport:</label>
                        <input type="text" id="mode_of_transport" name="mode_of_transport" required>
                    </div>


                    <div class="form-grp">
                        <label for="laptop">Laptop:</label>
                        <input type="text" id="laptop" name="laptop">
                    </div>
                    <div class="bottom-btns">
                        <div class="prev-btn btns" onclick="backbank()">Prev</div>
                        <div class="next-btn btns" onclick="govt()">Next</div>
                    </div>
                </div>
            </div>
            <div class="govt-form-con">
                <center><h3>Goverment ID</h3></center>
                <div class="govt-form">


                    <div class="form-grp">
                        <label for="aadhar_no">Aadhar Number:</label>
                        <input type="text" id="aadhar_no" name="government_id_aadhar_no" required>
                    </div>
    
                    <div class="form-grp">
                        <label for="pan_no">PAN Number:</label>
                        <input type="text" id="pan_no" name="government_id_pan_no" required>
                    </div>
    
                    <div class="form-grp">
                        <div class="form-group">
                            <label for="role">Select role:</label>
                            <select class="form-control" id="role" name="role">
    
                                <option value="Super Admin"> Super Admin</option>
                                <option value="Admin">Admin</option>
                                <option value="PR"> PR</option>
                                <option value="Installation"> Installation</option>
    
                            </select>
                        </div>
                        <div class="form-grp">
                            <label for="role">Password:</label>
                            <input type="Password" id="Password" name="Password" required>
                        </div>
    
                        <center>
                            <button type="submit" class="btns" name="staffcreate" value="Create staff">Create Staff</button>
                        </center>
                    </div>
                </div>
                <div class="bottom-btns">
                    <div class="prev-btn btns" onclick="backgovt()">Prev</div>
                    <div class="next-btn "></div>
                </div>
            </div>
        </form>



        <!-- script start -->
        <script src="../static/js/bootstrap.bundle.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/main.js"></script>
        <!-- script end -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>