<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
    <style>
        header {
            padding: 10px;
            text-align: center;
            font-size: 35px;
            color: hsl(0, 71%, 1%);
        }
        nav {
            margin: 20px 0;
        }
        nav a {
            margin: 0 15px;
            color: rgb(11, 4, 4);
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav>
    <a href="/get_data">Home</a>
    <a href="/createclient">Create Client</a>
    
    <a href="/addnotes">Add Notes</a>
    <!-- <a href="/payment_details">Payments</a>
    <a href="/statuschange">statuschange</a> -->
    <a href="/logout">Logout</a>
</nav>
    {%if message%}
    <h3>Hi {{message}}</h3>
    {%endif%}
    </body>
</html>
