<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="/statuschange" method="post">
        <label for="clientid">Customer Number:</label>
        <input type="text" id="clientid" name="clientid" required><br><br>
    
        <select id="notes" name="state" required>
            <option value="">Select status</option>
            <option value="Following Up">Following UP</option>
            <option value="Under Construction">Under Construction</option>
            <option value="Installation">Installation</option>
            <option value="completed">Completd</option>
        </select><br><br>

        <label for="reason">Reason:</label>
        <input type="text" id="reason" name="reason" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>